.sales-lst__cancel {
  width:32px !important;
}

.order_cancelready,
.order_cancelling,
.order_cancelled {
  padding: 0 !important;
  width: auto;
  height: auto;
}

.order_cancelready button,
.order_cancelling button,
.order_cancelled button {
  width: 80%;
  height: 30px;
  border: 0;
  font-size: 0;
  font-weight: bold;
  border-radius: 5px;
}

.order_cancelready button:hover,
.order_cancelling button:hover,
.order_cancelled button:hover {
  opacity: 0.5;
}

.order_cancelready button,
.order_cancelling button {
  background-color: #d85241;
}

.order_cancelready button::before {
  font-size: 20px;
  color: #fff;
  content: '✕';
}
.order_cancelling button::before {
  font-size: 20px;
  color: #fff;
  content: '処理中...';
}

.order_cancelled button::before {
  font-size: 14px;
  color: #3C3B6E;
  content: '';
}

