.open-in-colorme {
  position: absolute;
  right: calc(100vw / 2 - 10vw);
  padding: 5px 15px;
  border-radius: 5px;
  background-color:#66b5dd;
  text-decoration: none;
  color:#f8f9f9;
  border: 1px solid#66b5dd;
  width: 150px;
  text-align: center;
}

.open-in-colorme:hover {
  background-color:#86c8e9;
  border-color: #86c8e9;
  color:#f8f9f9;
}